body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-grid {
    user-select: none;
    display: grid;
    border: 1px solid black;
    /* grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    padding: 1em;
    gap: 0;
}

.letters {
    padding: 4px;
    text-align: center;
}