body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-box {
    margin-left: 20px;

}

.search-grid {
    user-select: none;
    display: grid;
    border: 1px solid black;
    padding: 1em;
    gap: 0;
}

.letters {
    padding: 4px;
    text-align: center;
    font-weight: bold;
}

.letters.selected {
    background-color: lightblue;
}

.letters.found {
    background-color: gold;
}

.found-word {
    text-decoration: line-through;
}